---
import { Picture } from 'astro:assets'

// "Work" section project data -- Project, Music Video, Client, Description, Gif
export const projectData = [
  {
    id: 0,
    project: 'HVN ON EARTH TOUR 2024',
    musicVideo: false,
    client: 'Lil Tecca',
    description: 'stage visuals',
    gif: 'https://videoapi-muybridge.vimeocdn.com/animated-thumbnails/image/e8699b01-3a83-4839-956a-fb83caa3301d.gif?ClientID=sulu&Date=1710755235&Signature=efc731e7e0ad55a67f7215637d09a564bc4975d3',
  },
  {
    id: 1,
    project: 'LOVE HARD TOUR 2024',
    musicVideo: false,
    client: 'Trey Songz',
    description: 'stage visuals',
    gif: 'https://videoapi-muybridge.vimeocdn.com/animated-thumbnails/image/456c3ab6-e0fc-4de8-ab2a-d2a1661af082.gif?ClientID=sulu&Date=1710755288&Signature=63e80d655478b2dcc3a909f65b0a5bfa64742a50',
  },
  {
    id: 2,
    project: 'Existential Dance Music Tour 2023',
    musicVideo: false,
    client: 'San Holo',
    description: 'stage visuals, notch design + programming, media server programming',
    gif: 'https://videoapi-muybridge.vimeocdn.com/animated-thumbnails/image/bd6e883a-44c3-4db5-8699-6be8be19b20b.gif?ClientID=vimeo-core-prod&Date=1699965884&Signature=0dc1a340667b2a358360ca6cc45e892a8c03fa5e',
  },
  {
    id: 3,
    project: 'Underoath/The Ghost Inside Tour 2023',
    musicVideo: false,
    client: 'Underoath',
    description: 'stage visuals, media server programming',
    gif: 'https://videoapi-muybridge.vimeocdn.com/animated-thumbnails/image/544d1130-2ce8-4a1b-a668-98233dd14aef.gif?ClientID=vimeo-core-prod&Date=1699965687&Signature=1638f5c70cf71167a9d43c56d57851ed720bf370',
  },
  {
    id: 4,
    project: '152 Album Release Shows',
    musicVideo: false,
    client: 'Taking Back Sunday',
    description: 'stage visuals, media server programming',
    gif: 'https://videoapi-muybridge.vimeocdn.com/animated-thumbnails/image/dcee550a-ee85-48fc-9632-30ee5917cfe9.gif?ClientID=vimeo-core-prod&Date=1699967621&Signature=1eaa867b11bef93c90cd88175e1dd52e11c05f0c',
  },
  {
    id: 5,
    project: 'Eternal Blue Tour 2023',
    musicVideo: false,
    client: 'Spiritbox',
    description: 'stage visuals, media server programming',
    gif: 'https://videoapi-muybridge.vimeocdn.com/animated-thumbnails/image/9e78d34c-b7cc-4e9b-a46b-174e97ff715e.gif?ClientID=vimeo-core-prod&Date=1684802557&Signature=f6416411099c97ad4326efbd7ca3d35dcbf77906',
  },
  {
    id: 6,
    project: 'Reunion Tour 2023',
    musicVideo: false,
    client: 'Love and Rockets',
    description: 'stage visuals, media server programming, notch programming',
    gif: 'https://videoapi-muybridge.vimeocdn.com/animated-thumbnails/image/53b25170-2aa2-4665-8dd7-9705e5c444eb.gif?ClientID=vimeo-core-prod&Date=1684802549&Signature=e7be96579a04b654cf8ac6c42cef8cdd9b9be7dd',
  },
  {
    id: 7,
    project: 'Since I Have A Lover Tour 2023',
    musicVideo: false,
    client: '6lack',
    description: 'notch design + programming',
    gif: 'https://videoapi-muybridge.vimeocdn.com/animated-thumbnails/image/368f52e9-adc2-475b-9752-8e981aa5300a.gif?ClientID=vimeo-core-prod&Date=1699965541&Signature=fb87557f70391b91b0cf4dee2235a14f361acd57',
  },
  {
    id: 8,
    project: 'Hitchhiker Tour 2023',
    musicVideo: false,
    client: 'Cuco',
    description: 'media server programming',
    gif: 'https://videoapi-muybridge.vimeocdn.com/animated-thumbnails/image/2c9ccdab-a8f7-4830-a3d7-1650ca32fcc8.gif?ClientID=vimeo-core-prod&Date=1700572114&Signature=ef4c9c2ceb0dbde576c9778fe04f822eebc939c9',
  },
  {
    id: 9,
    project: 'Camp Flow Gnaw Carnival 2023',
    musicVideo: false,
    client: 'Willow',
    description: 'media server programming/operation',
    gif: 'https://videoapi-muybridge.vimeocdn.com/animated-thumbnails/image/1eee9d40-aa34-4f9f-b052-a0e8dcbe99ca.gif?ClientID=vimeo-core-prod&Date=1699965832&Signature=774b9336e5180fc88aba6d54ce6fde08b6880a35',
  },
  {
    id: 10,
    project: "Tell Me I'm Alive Tour 2023",
    musicVideo: false,
    client: 'All Time Low',
    description: 'stage visuals, media server programming',
    gif: 'https://videoapi-muybridge.vimeocdn.com/animated-thumbnails/image/6b0a6ab5-3be6-4baa-be75-ce626e64235e.gif?ClientID=vimeo-core-prod&Date=1684807571&Signature=ef34ee673fceca49eed8f4cd50eaa1863e66886f',
  },
  {
    id: 11,
    project: 'Manic Tour 2023',
    musicVideo: false,
    client: 'Wage War',
    description: 'media server programming',
    gif: 'https://videoapi-muybridge.vimeocdn.com/animated-thumbnails/image/9ba1094e-6ac2-4d70-abd3-ebbd0bb881e2.gif?ClientID=vimeo-core-prod&Date=1684807578&Signature=f9b80c7e54036dde7b2be359047aca4f50b6995b',
  },
  {
    id: 12,
    project: 'made in america festival 2022',
    musicVideo: false,
    client: 'Tate McRae',
    description: 'stage visuals, media server programming, notch programming',
    gif: 'https://videoapi-muybridge.vimeocdn.com/animated-thumbnails/image/11d8d3b4-5a04-4f7d-9d08-11cf6f5a0eec.gif?ClientID=vimeo-core-prod&Date=1662413184&Signature=61055276b57222e41e0f65997c6eda2a154bf545',
  },
  {
    id: 13,
    project: '2022 Tour',
    musicVideo: false,
    client: 'Rage Against The Machine',
    description: 'media server programming and operation, notch vfx',
    gif: 'https://videoapi-muybridge.vimeocdn.com/animated-thumbnails/image/3d789203-2010-4941-9a87-a5e00504699d.gif?ClientID=vimeo-core-prod&Date=1661186640&Signature=12288d61c24ebd48382cf7fd50ea1191e75697d4',
  },
  {
    id: 14,
    project: 'Billboard Women In Music Awards 2023',
    musicVideo: false,
    client: 'Lainey Wilson',
    description: 'stage visuals',
    gif: 'https://videoapi-muybridge.vimeocdn.com/animated-thumbnails/image/996c6379-04fd-4c9f-8932-038e3795186e.gif?ClientID=vimeo-core-prod&Date=1677861690&Signature=94aebb24a991d141ff51d7e7bdc3c4bd1e86ac45',
  },
  {
    id: 15,
    project: 'Suckerpunch Tour 2023',
    musicVideo: false,
    client: 'Maggie Lindemann',
    description: 'lighting design and programming',
    gif: 'https://videoapi-muybridge.vimeocdn.com/animated-thumbnails/image/d4645705-ce40-4e70-aed8-f8c9c366cc90.gif?ClientID=vimeo-core-prod&Date=1684802562&Signature=8e3f13b89bb31e9a7a9430dfd6d9a87ee8f00b19',
  },
  {
    id: 16,
    project: '2022 Tour',
    musicVideo: false,
    client: 'BoyWithUke',
    description: 'lighting design, programming and operation',
    gif: 'https://videoapi-muybridge.vimeocdn.com/animated-thumbnails/image/f61353cf-ae10-4bea-a159-ac7fbdd5a513.gif?ClientID=vimeo-core-prod&Date=1655931103&Signature=941d9accec54faefe02baf8009a77ab7ac4ad3cb',
  },
  {
    id: 17,
    project: '2022 Tour',
    musicVideo: false,
    client: 'Keshi',
    description: 'lighting design + programming, media server programming',
    gif: 'https://videoapi-muybridge.vimeocdn.com/animated-thumbnails/image/b35b1281-0c78-4d38-879e-4ebb3a3c2ff1.gif?ClientID=vimeo-core-prod&Date=1671303085&Signature=288462e4fd576969e981d502e291523c8613e12c',
  },
  {
    id: 18,
    project: 'SNACKMFTIME',
    musicVideo: true,
    client: 'Snacktime',
    description: 'Music Video by SUPERVOID',
    gif: 'https://videoapi-muybridge.vimeocdn.com/animated-thumbnails/image/ce822c08-c49d-496a-ac2b-b6050b319c38.gif?ClientID=vimeo-core-prod&Date=1671301224&Signature=a92717bca7a65fa857bfe0fc745d5e18db4e8716',
  },
  {
    id: 19,
    project: 'Junkyard Fire',
    musicVideo: true,
    client: 'Snacktime',
    description: 'Music Video by SUPERVOID',
    gif: 'https://videoapi-muybridge.vimeocdn.com/animated-thumbnails/image/f6420ada-1c80-4241-814e-f52fb59b2123.gif?ClientID=vimeo-core-prod&Date=1671301355&Signature=3795cc51eb84ab50c946d1d8a7aeff437005b3eb',
  },
  {
    id: 20,
    project: 'Tipbucket Luvr',
    musicVideo: true,
    client: 'Snacktime',
    description: 'Music Video by SUPERVOID',
    gif: 'https://videoapi-muybridge.vimeocdn.com/animated-thumbnails/image/209b7d2f-6e83-4892-8fd3-32ee517c449b.gif?ClientID=vimeo-core-prod&Date=1671301977&Signature=ce94149a6d224d6cb7bd70e6c6bb52f233b919fc',
  },
  {
    id: 21,
    project: 'Sweet Treat',
    musicVideo: true,
    client: 'Snacktime',
    description: 'Music Video by SUPERVOID',
    gif: 'https://videoapi-muybridge.vimeocdn.com/animated-thumbnails/image/051a4830-2818-4502-af88-946a6f0e4693.gif?ClientID=vimeo-core-prod&Date=1671302793&Signature=e4aee5a9e208dc81be6982d0b038bfc5d4b6749b',
  },
  {
    id: 22,
    project: '2022 Tour',
    musicVideo: false,
    client: 'Dan and Shay',
    description: 'media server programming',
    gif: 'https://videoapi-muybridge.vimeocdn.com/animated-thumbnails/image/7cfca9d0-058b-44ee-9e79-d65ea000d3fb.gif?ClientID=vimeo-core-prod&Date=1654465590&Signature=40d81bafb67a21d942237ad2197bf6f73f838d2e',
  },
  {
    id: 23,
    project: '2022 Tour',
    musicVideo: false,
    client: 'Ninja Sex Party',
    description: 'lighting design + programming',
    gif: 'https://videoapi-muybridge.vimeocdn.com/animated-thumbnails/image/9f66b04d-262a-4b64-8b66-e98f68cd2eec.gif?ClientID=vimeo-core-prod&Date=1671303315&Signature=3a37dbad5021f0cbb500a043315b30a0d13348b9',
  },
  {
    id: 24,
    project: '2019 Tour',
    musicVideo: false,
    client: 'Tom Morello',
    description: 'Lighting Design and Media Server Programming',
    gif: 'https://videoapi-muybridge.vimeocdn.com/animated-thumbnails/image/bd4e03e1-34a3-449f-b33c-552cfd22277b.gif?ClientID=vimeo-core-prod&Date=1647118482&Signature=3f5a40a2977d58fcf62ea74b4372719610d2de67',
  },
  {
    id: 25,
    project: '2022 Tour',
    musicVideo: false,
    client: 'Motion City Soundtrack',
    description: 'lighting programming and operation',
    gif: 'https://videoapi-muybridge.vimeocdn.com/animated-thumbnails/image/3c13c261-5dd0-41d2-bfef-d5cb17a5dd6a.gif?ClientID=vimeo-core-prod&Date=1655928708&Signature=d9a0aa872d86c369699193e5e601578c6c91649b',
  },
  {
    id: 26,
    project: '2022 Tour',
    musicVideo: false,
    client: 'SOJA',
    description: 'stage visuals ',
    gif: 'https://videoapi-muybridge.vimeocdn.com/animated-thumbnails/image/488c4672-96b7-4de8-9edf-7472f1e0946f.gif?ClientID=vimeo-core-prod&Date=1657482218&Signature=289b9fe6545f987bc3205cd4faa978e1bb93d7f9',
  },
  {
    id: 27,
    project: '2021 Tour',
    musicVideo: false,
    client: '311',
    description: 'Multi-Camera Director, Livestreaming',
    gif: 'https://videoapi-muybridge.vimeocdn.com/animated-thumbnails/image/b4863331-54b7-48c2-a0b7-8ea59c5eace5.gif?ClientID=vimeo-core-prod&Date=1647119127&Signature=e3be602fe40b4c22e3121c17eb9307f4a014108f',
  },
  {
    id: 28,
    project: 'Major Tom',
    musicVideo: true,
    client: 'Laura Lizcano',
    description: 'Music Video by SUPERVOID',
    gif: 'https://videoapi-muybridge.vimeocdn.com/animated-thumbnails/image/491b30ea-4eb8-4e96-88b6-3756c7ba9d26.gif?ClientID=vimeo-core-prod&Date=1671300696&Signature=a3fa771f241197960f2c6dbdb8a8b2ede46aaaa0',
  },
  {
    id: 29,
    project: 'Salvador Dolly Parton Attorney',
    musicVideo: true,
    client: 'Muscle Tough',
    description: 'Music Video by SUPERVOID',
    gif: 'https://videoapi-muybridge.vimeocdn.com/animated-thumbnails/image/348fa8e6-420c-4405-8542-8c8ffc22b8b7.gif?ClientID=vimeo-core-prod&Date=1671301103&Signature=5e0428f3af882b5fadfa92d666b54ea5625d8ff4',
  },
  {
    id: 30,
    project: 'Wicked',
    musicVideo: true,
    client: 'Luvrs',
    description: 'Music Video by SUPERVOID',
    gif: 'https://videoapi-muybridge.vimeocdn.com/animated-thumbnails/image/4f99c943-2e1b-4167-ae7e-c8a110df7477.gif?ClientID=vimeo-core-prod&Date=1647118942&Signature=41f0bc9ba1ac09ae84e75f15a55f9706e0cd6a55',
  },
  {
    id: 31,
    project: 'Decibel Metal and Beer Fest 2021',
    musicVideo: false,
    client: 'Converge',
    description: 'Multi-Camera Director',
    gif: 'https://videoapi-muybridge.vimeocdn.com/animated-thumbnails/image/fe944ac1-4a87-4868-b584-baa7d71707ab.gif?ClientID=vimeo-core-prod&Date=1647119318&Signature=754b4aafafca8e8ba94b1254377d513f020c9410',
  },
  {
    id: 32,
    project: 'Live Performance for Decibel 200th Anniversary Special',
    musicVideo: false,
    client: 'Horrendous',
    description: 'Directed and Edited by SUPERVOID',
    gif: 'https://videoapi-muybridge.vimeocdn.com/animated-thumbnails/image/2164d349-e09f-404b-a832-9d0791b07d35.gif?ClientID=vimeo-core-prod&Date=1647116570&Signature=781b181fbf008eddf61809284afb81527f77ce5b',
  },
  {
    id: 33,
    project: 'You Should See Me In A Crown',
    musicVideo: true,
    client: 'Gnarbot',
    description: 'Music Video by SUPERVOID',
    gif: 'https://videoapi-muybridge.vimeocdn.com/animated-thumbnails/image/73463f17-794a-4016-8e30-0d22846ef5ab.gif?ClientID=vimeo-core-prod&Date=1647119144&Signature=ed8a176e68f7167b066fe83d17e1e34761a4915a',
  },
]
---

<section id="work" class="work">
  <h2>work</h2>
  <div class="projects">
    {
      projectData.map((project) => {
        return (
          <article 
            class="project-container" 
            data-id={project.id}
            data-gif={project.gif}
            data-client={project.client}
            data-project={project.project}
            data-description={project.description}
          >
            <Picture
              src={project.gif}
              width={740}
              height={416}
              alt={`${project.client} - ${project.description}`}
            />
            <div class="project-overlay">
              <h3>{project.musicVideo ? project.project : project.client}</h3>
            </div>
          </article>
        )
      })
    }
  </div>
  <dialog class="project-modal">
    <button class="close">
      <div class="top"></div>
      <div class="bottom"></div>
    </button>
    <!-- Navigate Left -->
    <button class="navigate-left">
      <svg
        version="1.1"
        id="Capa_1"
        xmlns="http://www.w3.org/2000/svg"
        x="0px"
        y="0px"
        width="30.725px"
        height="30.725px"
        viewBox="0 0 30.725 30.725"
      >
        <g>
          <path
            d="M24.078,26.457c0.977,0.978,0.977,2.559,0,3.536c-0.488,0.488-1.128,0.731-1.77,0.731c-0.639,0-1.278-0.243-1.768-0.731 L5.914,15.362l14.629-14.63c0.977-0.977,2.559-0.976,3.535,0c0.977,0.977,0.977,2.56,0,3.536L12.984,15.362L24.078,26.457z"
          ></path>
        </g>
      </svg>
    </button>
    <!-- Navigate Right -->
    <button class="navigate-right">
      <svg
        version="1.1"
        id="Capa_1"
        xmlns="http://www.w3.org/2000/svg"
        x="0px"
        y="0px"
        width="30.725px"
        height="30.725px"
        viewBox="0 0 30.725 30.725"
      >
        <g>
          <path
            d="M24.078,26.457c0.977,0.978,0.977,2.559,0,3.536c-0.488,0.488-1.128,0.731-1.77,0.731c-0.639,0-1.278-0.243-1.768-0.731 L5.914,15.362l14.629-14.63c0.977-0.977,2.559-0.976,3.535,0c0.977,0.977,0.977,2.56,0,3.536L12.984,15.362L24.078,26.457z"
          ></path>
        </g>
      </svg>
    </button>

    <img
      class="modal-gif"
      src=""
      width="740"
      height="416"
      alt=""
    />
    <div class="modal-info"></div>
  </dialog>
</section>

<style>
  .work {
    padding-top: var(--section-padding-y);
  }

  .projects {
    display: grid;
    grid-template-columns: 1fr;

    @media (min-width: 768px) {
      & {
        grid-template-columns: repeat(2, 1fr);
      }
    }

    @media (min-width: 1440px) {
      & {
        margin: auto;
        max-width: var(--max-width);
      }
    }
  }

  .project-container {
    position: relative;
    width: 100%;
    height: 100%:
    margin: auto;
    background-color: var(--color-faded-purple);
    cursor: pointer;

    & .project-overlay {
      position: absolute;
      bottom: 0;
      right: 0;
      color: var(--color-white);
      background-color: var(--color-faded-black);

      & h3 {
        padding: 0 0.5rem;
        text-align: end;
      }
    }
  }

  @media (min-width: 1024px) {
    .project-container .project-overlay h3 {
      padding: 0 0.75rem;
    }
  }

  /* 
    Styling is broken on Firefox
    Padding is set visually to match Chrome and Safari
  */
  @-moz-document url-prefix() {
    .project-container .project-overlay h3 {
      padding: 0.4rem 0.5rem 0;
    }
  }

  @media (min-width: 1024px) {
    /* Firefox */
    @-moz-document url-prefix() {
      .project-container .project-overlay h3 {
        padding: 0.5rem 0.75rem 0;
      }
    }
  }
</style>

<style is:inline>
  .project-modal[open] {
    position: fixed;
    width: 100%;
    max-width: 750px;
    display: flex;
    flex-direction: column;
    gap: 3rem;
    margin: auto;
    padding: 5rem 3rem;
    color: var(--color-white);
    background-color: var(--color-black);
    border: 2px solid var(--color-white);
    overflow: auto;
    outline: none;

    @media (min-width: 768px) {
      & {
        padding: 6rem 4rem;
      }
    }
  }

  .project-modal::backdrop {
    background-color: var(--color-faded-black);
    backdrop-filter: saturate(180%) blur(5px);
  }

  .project-modal img {
    display: block;
    max-width: 100%;
    height: auto;
    user-select: none;
  }

  .project-modal button {
    background: transparent;
    border: none;
    cursor: pointer;
  }

  .close {
    position: absolute;
    top: 9px;
    right: 0;
    padding: 1rem;

    & .top,
    & .bottom {
      height: 5px;
      width: 1.8rem;
      background: var(--color-white);
      border-radius: 1px;
    }

    & .top {
      transform: translateY(2.5px) rotate(45deg);
    }

    & .bottom {
      transform: translateY(-2.5px) rotate(-45deg);
    }
  }

  .navigate-left,
  .navigate-right {
    position: absolute;
    top: 50%;
    cursor: pointer;

    &.hide,
    &.hide {
      display: none;
    }

    & svg,
    & svg {
      fill: var(--color-white);
    }
  }

  .navigate-left {
    left: 1%;

    @media (min-width: 768px) {
      & {
        left: 2%;
      }
    }
  }

  .navigate-right {
    right: 1%;
    transform: rotate(180deg);

    @media (min-width: 768px) {
      & {
        right: 2%;
      }
    }
  }

  .modal-info {
    height: 8rem;

    & h3 {
      text-align: left;
      margin-bottom: 1rem;
      padding: 0;
    }

    & p {
      color: var(--color-grey);
      margin-bottom: 0.75rem;
    }

    & .modal-label {
      color: var(--color-white);
    }

    & .description {
      padding-bottom: 3rem;
    }
  }
</style>

<script define:vars={{ projectData }}>
  document.addEventListener('astro:page-load', () => {
    // Grab DOM elements
    const projects = document.querySelectorAll('.project-container') 
    const modal = document.querySelector('.project-modal')
    const close = document.querySelector('.close')
    const navigateLeft = document.querySelector('.navigate-left')
    const navigateRight = document.querySelector('.navigate-right')
    const modalGif = document.querySelector('.modal-gif') 
    const modalInfo = document.querySelector('.modal-info')

    // Track current project data
    let currentProjectId = 0
    let currentProject = projectData[currentProjectId]

    // Handle modal display
    function handleShowProject(e) {
      const { id, gif, client, project, description } = e.target.closest('.project-container')?.dataset

      // Update current project id
      currentProjectId = parseInt(id)

      // Update modal data
      modalGif.src = gif
      modalGif.alt = `${client} - ${description}`
      modalInfo.innerHTML = `
          <h3>${project}</h3>
          <p>
          <span class="modal-label">Client: </span> ${client}
          </p>
          <p class="description">
          <span class="modal-label">Description: </span> ${description}
          </p>
        `
        
      // Show modal
      modal?.showModal()

      // Update current project
      handleUpdateCurrentProject()    
    }

    // Update current project data and handle navigation visibility
    function handleUpdateCurrentProject() {
      currentProject = projectData[currentProjectId]

      // Track navigation location
      const userIsOnFirstProject = currentProjectId === 0
      const userIsOnLastProject = currentProjectId === projectData.length - 1

      if (userIsOnFirstProject) {
        navigateLeft.classList.add('hide')
      } else if (userIsOnLastProject) {
        navigateRight.classList.add('hide')
      } else {
        navigateLeft.classList.remove('hide')
        navigateRight.classList.remove('hide')
      }
    }

    // Handle navigation
    function handleProjectNavigation(direction = 'left' || 'right') {
      // Determine direction
      if (direction === 'left' && currentProjectId > 0) {
        currentProjectId--
      } else if (direction === 'right' && currentProjectId < projectData.length - 1) {
        currentProjectId++
      } else {
        return
      }

      // Update current project
      handleUpdateCurrentProject()

      // Update modal data
      modalGif.src = currentProject.gif
      modalGif.alt = `${currentProject.client} - ${currentProject.description}`
      modalInfo.innerHTML = `
        <h3>${currentProject.project}</h3>
        <p>
        <span class="modal-label">Client: </span> ${currentProject.client}
        </p>
        <p class="description">
        <span class="modal-label">Description: </span> ${currentProject.description}
        </p>
      `
    }

    // Handle arrow key navigation
    const handleArrowPress = (event) => {
      if (event.key === 'ArrowLeft') {
        handleProjectNavigation('left')
      } else if (event.key === 'ArrowRight') {
        handleProjectNavigation('right')
      }
    }
        
    // Event Listeners
    document.addEventListener('keydown', handleArrowPress)
    projects.forEach((project) => project.addEventListener('click', handleShowProject))
    close?.addEventListener('click', () => modal?.close())
    navigateLeft?.addEventListener('click', () => handleProjectNavigation('left'))
    navigateRight?.addEventListener('click', () => handleProjectNavigation('right'))
  })
</script>
      