---
// import { ViewTransitions } from 'astro:transitions'
import Footer from '../components/Footer.astro'
import Navigation from '../components/Navigation.astro'
import '../styles/global.css'

export interface Props {
  title: string
  description?: string
  socialImage?: string
}

const {
  title,
  description = 'SUPERVOID is an animation, vfx and technical design studio based in Philadelphia. Our primary output is creating dynamic and interactive media packages for artists, agencies and brands.',
  socialImage,
} = Astro.props
const canonicalURL = new URL(Astro.url.pathname, Astro.site)
const socialImageURL = new URL(socialImage || 'images/home-page-hero.webp', canonicalURL)
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />

    <!-- SEO -->
    <title>SUPERVOID | {title}</title>
    <meta name="title" content={`SUPERVOID | ${title}`} />
    <meta name="description" content={description} />
    <meta
      name="keywords"
      content="supervoid, stage, screen, lighting, music, video, concerts, film, design, animation, psychedelic, philadelphia"
    />
    <meta name="generator" content={Astro.generator} />
    <link rel="canonical" href={canonicalURL} />

    <!-- Facebook -->
    <meta property="og:url" content={canonicalURL} />
    <meta property="og:type" content="website" />
    <meta property="og:title" content={`SUPERVOID | ${title}`} />
    <meta property="og:description" content={description} />
    <meta property="og:image" content={socialImageURL} />

    <!-- Twitter -->
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:domain" content="supervoid.tv" />
    <meta name="twitter:url" content={canonicalURL} />
    <meta name="twitter:title" content={`SUPERVOID | ${title}`} />
    <meta name="twitter:description" content={description} />
    <meta name="twitter:image" content={socialImageURL} />

    <!-- Favicon -->
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png" />
    <link rel="manifest" href="/site.webmanifest" />
    <meta name="msapplication-TileColor" content="#000000" />
    <meta name="theme-color" content="#000000" />

    <!-- Scripts -->
    <script src="../util/section-animations.ts"></script>
    <!-- <ViewTransitions /> -->

    <!-- Umami Analytics -->
    <script
      type="text/partytown"
      is:inline
      defer
      src="https://analytics.us.umami.is/script.js"
      data-website-id="50a25800-0106-435f-b0ae-27a89f5ef36b"></script>

    <title>SUPERVOID | {title}</title>
  </head>
  <body>
    <Navigation />
    <slot />
    <Footer />
  </body>
</html>
