---
import { ViewTransitions } from 'astro:transitions'
import Footer from '../components/Footer.astro'
import Navigation from '../components/Navigation.astro'
import '../styles/global.css'

export interface Props {
  title: string
  description?: string
  socialImage?: string
}

const {
  title,
  description = 'SUPERVOID is an animation, vfx and technical design studio based in philadelphia. our primary output is creating dynamic and interactive media packages for artists, agencies and brands.',
  socialImage,
} = Astro.props
const canonicalURL = new URL(Astro.url.pathname, Astro.site)

const socialImageURL = new URL(socialImage || 'images/home-page-hero.webp', canonicalURL)
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />

    <!-- SEO -->
    <title>SUPERVOID | {title}</title>
    <meta name="title" content={`SUPERVOID | ${title}`} />
    <meta name="description" content={description} />
    <meta
      name="keywords"
      content="supervoid, stage, screen, lighting, music, video, concerts, film, design, animation, psychedelic, philadelphia"
    />
    <meta name="generator" content={Astro.generator} />
    <link rel="canonical" href={canonicalURL} />

    <!-- Facebook -->
    <meta property="og:url" content={canonicalURL} />
    <meta property="og:type" content="website" />
    <meta property="og:title" content={`SUPERVOID | ${title}`} />
    <meta property="og:description" content={description} />
    <meta property="og:image" content={socialImageURL} />

    <!-- Twitter -->
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:domain" content="supervoid.tv" />
    <meta name="twitter:url" content={canonicalURL} />
    <meta name="twitter:title" content={`SUPERVOID | ${title}`} />
    <meta name="twitter:description" content={description} />
    <meta name="twitter:image" content={socialImageURL} />

    <!-- Favicon -->
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />

    <!-- Fonts -->

    <!-- Scripts -->
    <ViewTransitions />
    <script src="../util/section-animations.ts"></script>

    <title>SUPERVOID | {title}</title>
  </head>
  <body>
    <Navigation />
    <slot />
    <Footer />
  </body>
</html>
