---
import { ViewTransitions } from 'astro:transitions'
import '../styles/global.css'

export interface Props {
  title: string
  description?: string
  socialImage?: string
}

const {
  title,
  description = 'SUPERVOID is an animation, vfx and technical design studio based in philadelphia. our primary output is creating dynamic and interactive media packages for artists, agencies and brands.',
  socialImage,
} = Astro.props
const canonicalURL = new URL(Astro.url.pathname, Astro.site)

// TODO: https://supervoid.tv/images/supernova-site-background.webp
const socialImageURL = new URL(socialImage || '/headshot.jpg', canonicalURL)
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />

    <!-- SEO -->
    <title>{title}</title>
    <meta name="title" content={title} />
    <meta name="description" content={description} />
    <meta
      name="keywords"
      content="supervoid, stage, screen, lighting, music, video, concerts, film, design, animation, psychedelic, philadelphia"
    />
    <meta name="generator" content={Astro.generator} />
    <link rel="canonical" href={canonicalURL} />

    <!-- Facebook -->
    <meta property="og:url" content={canonicalURL} />
    <meta property="og:type" content="website" />
    <meta property="og:title" content={title} />
    <meta property="og:description" content={description} />
    <meta property="og:image" content={socialImageURL} />

    <!-- Twitter -->
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:domain" content="supervoid.tv" />
    <meta name="twitter:url" content={canonicalURL} />
    <meta name="twitter:title" content={title} />
    <meta name="twitter:description" content={description} />
    <meta name="twitter:image" content={socialImageURL} />

    <!-- Fonts -->

    <!-- Scripts -->
    <ViewTransitions />

    <title>{title}</title>
  </head>
  <body>
    <slot />
  </body>
</html>
